# Entorno virtual de Python
venv/
env/
.venv/
ENV/

# Archivos compilados y de caché
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Archivos de configuración de IDEs y editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs locales
*.log
